[Unit]
Description=Chiroptera Adonis JS Backend
After=postgresql@16-main.service
StartLimitIntervalSec=0

[Service]
ExecStart=/root/.nvm/versions/node/v22.14.0/bin/node /root/chiroptera/build/bin/server.js
Restart=always
StandardOutput=journal
StandardError=journal
User=root
SyslogIdentifier=chiroptera

[Install]
WantedBy=multi-user.target