[Unit]
Description=Chiroptera Adonis JS Backend
After=postgresql@16-main.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/.nvm/versions/node/v22.14.0/bin/node /root/chiroptera/build/bin/server.js
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target